body { 
 background: lightblue;
}
h1{
    font-weight: 700;
    font-family: "Calibri";
    text-align: center;
    text-decoration:underline;
}
h2
    font-family: "Calibri" ;
    text-decoration:underline;
}